body {
    font-family: 'open sans', sans-serif;
    margin: 0;
}

.landingpage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    text-align: center;
    z-index: 1;
    color: #212427; 
    font-size: 2rem;
    font-weight: 900;
}

#phrases {
    margin-bottom: 2rem; 
}

#phrases h2 {
    font-size: 5rem;
    margin: 0;
}

h3 {
    font-size: 2rem;
    margin: 2rem 0; 
    color: #212427;
    text-shadow: 4px 10px 10px #212427;
}

.nav_button {
    margin-top: 20rem; 
}

.nav_button a {
    text-decoration: none;
    color: #343030;
    font-weight: 700;
    border: 1px solid #E0F7FA;
    background-color: #0071C9;
    padding: 20px 20px;
    border-radius: 20px; 
    margin: 0 10px; 
}

.nav_button a:hover {
    color: #E0F7FA;
    background-color: #212427;
}
